[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk.git
[submodule "External/meshoptimizer"]
	path = External/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/fast_obj"]
	path = External/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "External/SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
